html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
}

/* Apply flexbox to the entire app content */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes the full viewport height */
}

/* The main content area will flex and grow, pushing the footer to the bottom */
.flex-grow-1 {
  flex-grow: 1;
}

/* Footer styles */
.footer {
  background-color: #D4A373; /* Change this to your preferred background color */
  padding: 20px; /* Adjust padding as needed */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7fa2c8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1e86a0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #99c3f0;
  }
  button:hover {
    border-color: #1e86a0;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}