/* Add these styles to your CSS file */
.project-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
  .project-list {
    list-style-type: none;
    padding: 0;
  }
  
  .project-list li {
    margin-bottom: 8px;
  }

  /* Profile.css */
section + section {
  border-top: 1px solid rgba(0,0,0,0.05);
}

  